<!DOCTYPE HTML>

<html>
	<head>
		<title>Know Your Health</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
<!--						<span class="logo"><img src="static/images/logo.svg" alt="" /></span>-->
						<h1>Know Your Skin</h1>
						</header>
                <div id="main">

						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>ChatBot</h2>
										</header>
										<div class="row">
											<div class="column"><div class="bot">
												<iframe
												  src="https://healthcare-bot-gnfdbebmkzowu.azurewebsites.net/"
												  height="500"
												  width="500"
												  title="Iframe Example"
												></iframe>
											  </div></div>
											<div class="column"><div class="img">
												<img src="../static/images/415.jpg" alt="pic" width="400px" height="400px">
											  </div>
											  </div>
										  </div>
									    
										  

										</div>
								</div>
							</section>
                    <section>
<!--							<h2>Etiam feugiat</h2>-->
<!--							<dl class="alt">-->
<!--								<dt>Address</dt>-->
<!--								<dd>1234 Somewhere Road &bull; Nashville, TN 00000 &bull; USA</dd>-->
<!--								<dt>Phone</dt>-->
<!--								<dd>(000) 000-0000 x 0000</dd>-->
<!--								<dt>Email</dt>-->
<!--								<dd><a href="#">information@untitled.tld</a></dd>-->
<!--							</dl>-->
							<ul class="icons">
								</ul>
						</section>
						</footer>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>
			</div>

	</body>
</html>