<!DOCTYPE HTML>

<html>
	<head>
		<title>Know Your Skin</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<!--		<link rel="stylesheet" href="static/assets/css/main.css" />-->
<!--		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>


       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1>Know Your Health</h1>
						</header>
<!--				<nav id="nav">-->
<!--						<ul>-->
<!--							<ul>-->
<!--							<li><a href="{{ url_for('chatbot') }}" class="active">Chat With Us</a></li>-->
<!--							<li><a href="{{ url_for('main') }}">Logout</a></li>-->

<!--						</ul>-->
<!--						</ul>-->
<!--					</nav>-->
                <div id="main">

						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>General Diseases</h2>
										</header>
									</div>

								</div>
								</section>
					  <section>

					<table class="table-danger" >
							<tr class="table-danger">
									<td class="table-danger"><b>Disease</b></td>
									<td class="table-danger"><b>Symptoms</b></td>
								    <td class="table-danger"><b>Medication</b></td>


							    </tr>
						<tr class="table-danger">
									<td class="table-danger"><b>Addison’s disease</b></td>
									<td class="table-danger"><b>The adrenal glands are two small glands that sit on top of the kidneys. They produce essential hormones: cortisol, aldosterone and adrenaline.
In Addison's disease, the adrenal gland is damaged, and not enough cortisol and aldosterone are produced.</b></td>
								    <td class="table-danger"><b>Treatment usually involves corticosteroid (steroid) replacement therapy for life. Corticosteroid medicine is used to replace the hormones cortisol and aldosterone that your body no longer produces. It's usually taken in tablet form 2 or 3 times a day.
</b></td>


							    </tr>
						<tr class="table-danger">
									<td class="table-danger"><b>Atopic eczema</b></td>
									<td class="table-danger"><b>Eczema is a condition that causes the skin to become itchy, red, dry and cracked. It is a long-term (chronic) condition in most people, although it can improve over time, especially in children.</b></td>
								    <td class="table-danger"><b>Creams that control itching and help repair the skin. Drugs to fight infection. Oral drugs that control inflammation</b></td>


							    </tr>
						<tr class="table-danger">
									<td class="table-danger"><b>Bronchitis
</b></td>
									<td class="table-danger"><b>Cough, which may bring up yellow-grey mucus (phlegm). Bronchitis may also cause a sore throat and wheezing.
</b></td>
								    <td class="table-danger"><b>No cure for chronic bronchitis
Important to avoid smoking and smoky environments.Treatments involve:<br>
Antibiotics to prevent and treat chest infections<br>
medicines to make the mucus in the lungs thinner and easier to cough up<br>
medicines to widen the airways and reduce inflammation

</b></td>


							    </tr>
						<tr class="table-danger">
									<td class="table-danger"><b>Diarrhoea</b></td>
									<td class="table-danger"><b>Associated symptoms can include:<br>
stomach cramps<br>
nausea and vomiting<br>
headache<br>
loss of appetite
</b></td>
								    <td class="table-danger"><b>Treatment<br>
Drink fluids<br>
Oral rehydration solutions<br>
Antidiarrhoeal medicines - Loperamide
</b></td>


							    </tr>
						<tr class="table-danger">
									<td class="table-danger"><b>Malaria</b></td>
									<td class="table-danger"><b>a high temperature (fever)<br>
headache<br>
sweats<br>
chills<br>
muscle aches or pains<br>
vomiting and or diarrhoea
</b></td>
								    <td class="table-danger"><b>Medication</b></td>


							    </tr>
						<tr class="table-danger">
									<td class="table-danger"><b>Fever</b></td>
									<td class="table-danger"><b>Sweating<br>
Chills and shivering<br>
Headache<br>
Muscle aches
</b></td>
								    <td class="table-danger"><b>Paracetamol<br>
Dolo-650<br>

</b></td>


							    </tr>
						<tr class="table-danger">
									<td class="table-danger"><b>Cold</b></td>
									<td class="table-danger"><b>Sneezing<br>
Stuffy nose<br>
Runny nose<br>
Sore throat

</b></td>
								    <td class="table-danger"><b>Dolo-Cold<br>
Cetrizine

</b></td>


							    </tr>
						<tr class="table-danger">
									<td class="table-danger"><b>Migrane
</b></td>
									<td class="table-danger"><b>Visual phenomena, such as seeing various shapes, bright spots or flashes of light<br>
Vision loss<br>
Pins and needles sensations in an arm or leg

</b></td>
								    <td class="table-danger"><b>Pain relievers<br>
Aspirin<br>
Ubrogepant (Ubrelvy)


</b></td>


							    </tr>
						<tr class="table-danger">
									<td class="table-danger"><b>Kidney Stones</b></td>
									<td class="table-danger"><b>Severe, sharp pain in the side and back, below the ribs<br>
Pain that radiates to the lower abdomen and groin<br>
Pain that comes in waves and fluctuates in intensity<br>
Pain or burning sensation while urinating

</b></td>
								    <td class="table-danger"><b>Medication.<br>
Lithotripsy.<br>
Ureteroscopy. <br>
Pain management.


</b></td>


							    </tr>


									</table>





						</section>
						</footer>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>
			</div>

	</body>
</html>